{% extends 'base.html.twig' %}

{% block title %} Sweet Home{% endblock %}

{% block body %}
<div class="container">
<form method="post" action={{ path('app_login')}}>


    <table>
            <thead>
                <th>ID</th>
                <th>Email</th>
                <th>Roles</th>
                <th>OFFRES</th>
            </thead>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.roles | json_encode}}</td>
            <td>
                {% for offre in user.offres %}
                {{offre.nom}} <strong>|</strong>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </form>
    </table>
</div>

{% endblock %}